.git
.github
.dart_tool
.idea
.vscode
.tmp_pg_wudase_content
build
backend/content/node_modules
**/.env
**/.env.*
!**/.env.example
backend/content/.server-*.log
backend/content/test
backend/user_app/node_modules
node_modules
*.log
*.pem
*.key
*.p12
*.pfx
*.keystore
*.jks
